@import 'tailwindcss';
/*
  ---break---
*/
@plugin 'tailwindcss-animate';
@plugin "@tailwindcss/typography";
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

/*
  ---break---
*/
:root {
  --radius: .625rem;
  --background: lab(100% 0 0);
  --foreground: lab(2.75381% 0 0);
  --card: lab(100% 0 0);
  --card-foreground: lab(2.75381% 0 0);
  --popover: lab(100% 0 0);
  --popover-foreground: lab(2.75381% 0 0);
  --primary: lab(7.78201% -.0000149012 0);
  --primary-foreground: lab(98.26% 0 0);
  --secondary: lab(96.52% -.0000298023 .0000119209);
  --secondary-foreground: lab(7.78201% -.0000149012 0);
  --muted: lab(96.52% -.0000298023 .0000119209);
  --muted-foreground: lab(48.496% 0 0);
  --accent: lab(96.52% -.0000298023 .0000119209);
  --accent-foreground: lab(7.78201% -.0000149012 0);
  --destructive: lab(48.4493% 77.4328 61.5452);
  --border: lab(90.952% 0 -.0000119209);
  --input: lab(90.952% 0 -.0000119209);
  --ring: lab(66.128% -.0000298023 .0000119209);
  --sidebar: lab(100% 0 0);
  --sidebar-foreground: lab(2.75381% 0 0);
  --sidebar-primary: lab(7.78201% -.0000149012 0);
  --sidebar-primary-foreground: lab(98.26% 0 0);
  --sidebar-accent: lab(96.52% -.0000298023 .0000119209);
  --sidebar-accent-foreground: lab(7.78201% -.0000149012 0);
  --sidebar-border: lab(90.952% 0 -.0000119209);
  --sidebar-ring: lab(66.128% -.0000298023 .0000119209);
  --surface: lab(97.68% -.0000298023 .0000119209);
  --code-highlight: lab(95.36% 0 0);
  --code-number: lab(48.96% 0 0);
  --selection: lab(2.75381% 0 0);
  --selection-foreground: lab(100% 0 0);
}
/*
  ---break---
*/
.dark {
  --background: lab(2.75381% 0 0);
  --foreground: lab(98.26% 0 0);
  --card: lab(7.78201% -.0000149012 0);
  --card-foreground: lab(98.26% 0 0);
  --popover: lab(15.204% 0 -.00000596046);
  --popover-foreground: lab(98.26% 0 0);
  --primary: lab(90.952% 0 -.0000119209);
  --primary-foreground: lab(7.78201% -.0000149012 0);
  --secondary: lab(15.204% 0 -.00000596046);
  --secondary-foreground: lab(98.26% 0 0);
  --muted: lab(15.204% 0 -.00000596046);
  --muted-foreground: lab(66.128% -.0000298023 .0000119209);
  --accent: lab(27.036% 0 0);
  --accent-foreground: lab(98.26% 0 0);
  --destructive: lab(63.7053% 60.745 31.3109);
  --border: lab(100% 0 0 / .1);
  --input: lab(100% 0 0 / .15);
  --ring: lab(48.496% 0 0);
  --sidebar: lab(7.78201% -.0000149012 0);
  --sidebar-foreground: lab(98.26% 0 0);
  --sidebar-primary: lab(36.9089% 35.0961 -85.6872);
  --sidebar-primary-foreground: lab(98.26% 0 0);
  --sidebar-accent: lab(15.204% 0 -.00000596046);
  --sidebar-accent-foreground: lab(98.26% 0 0);
  --sidebar-border: lab(100% 0 0 / .1);
  --sidebar-ring: lab(34.924% 0 0);
  --surface: lab(7.22637% -.0000149012 0);
  --surface-foreground: lab(66.128% -.0000298023 .0000119209);
  --code-highlight: lab(15.32% 0 0);
  --code-number: lab(67.52% -.0000298023 0);
  --selection: lab(90.952% 0 -.0000119209);
  --selection-foreground: lab(7.78201% -.0000149012 0);
}
/*
  ---break---
*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --breakpoint-3xl: 210rem;
}

@layer base {

  * {
    @apply border-border outline-ring/50;
  }

  .bg-dotted {
    background-color: var(--color-slate-50);
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 16px 16px;
  }

  .dark .bg-dotted {
    background-color: var(--background);
    background-image: radial-gradient(var(--color-stone-800) 1px, transparent 1px);

  }

  .max-w-8xl {
    max-width: 90rem;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/*
  ---break---
*/


@keyframes moveGradientLeft {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
.animate-gradient-x {
  animation: moveGradientLeft 20s linear infinite;
}
